<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../../head') %>
</head>

<body>
  <%- include('../../nav_Bar') %>
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
  </div>
  <div class="container mb-3">
    <table id="t1" class="board-table table">
      <p style="font-size:30px">Warehouse Usage</p>
      <thead class="thead-dark">
        <tr>
          <th>Req ID</th>
          <th>Warehouse ID</th>
          <th>Warehouse Name</th>
          <th>Rental Period</th>
          <th>Area</th>
          <th>Price</th>
          <th>IoT</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < Object.keys(items).length; i++) { %>
        <tr class="table-warning">
          <td id="reqID<%= i %>"><%= items['item' + i].reqID %></td>
          <td id="warehouseID<%= i %>"><%= items['item' + i].warehouseID %></td>
          <td id="warehouseName<%= i %>"><%= items['item' + i].warehouseName %></td>
          <td id="Period<%= i %>"><%= items['item' + i].startDate %> ~ <%= items['item' + i].endDate %></td>
          <td id="area<%= i %>"><%= items['item' + i].area %></td>
          <td id="totalPrice<%= i %>"><%= items['item' + i].totalPrice %></td>
          <% if (items['item' + i].iotStat == "Y"){ %>
            <td style="padding:6px 0;">
              <form action="/iot" method="POST">
                <input id="wid" name="wid" type="hidden" value="<%= items['item' + i].warehouseID %>">
                <button class="btn btn-primary" style="margin: 0; padding: 8px 12px;">IoT Page</button>
              </form>
            </td>
          <% } else if (items['item' + i].iotStat == "W"){ %>
            <td style="padding-top: 20px;">Pending Approval</td>
          <% } else if (items['item' + i].iotStat == "N"){ %>
            <td style="padding-top: 20px;">Not Currently Used</td>
          <% } %>
            <td style="padding:6px 0;">
              <form action="/Buyer/UsageStatus/INFO" method="POST">
                <input id="reqID" name="reqID" type="hidden" value="<%= items['item' + i].reqID %>">
                <button class="btn btn-primary" style="margin: 0; padding: 8px 12px;">INFO</button>
              </form>
            </td>
          </td>
        </tr>
        <% } %>
    </table>
  </div>
</body>
</html>
