<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../../head') %>
</head>

<body>
  <%- include('../../nav_Bar') %>
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
  </div>

  <div class="container mb-3">
    <table id="t1" class="board-table table">
      <p style="font-size:30px">Warehouse Usage</p>
      <thead class="thead-dark">
        <tr>
          <th>Req ID</th>
          <th>Buyer ID</th>
          <th>Warehouse ID</th>
          <th>Warehouse Name</th>
          <th>Rental Period</th>
          <th>Area</th>
          <th>Price</th>
          <th>IoT</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < Object.keys(items).length; i++) { %>
        <tr class="table-warning">
          <td id="reqID<%= i %>"><%= items['item' + i].reqID %></td>
          <td id="buyerID<%= i %>"><%= items['item' + i].buyerID %></td>
          <td id="warehouseID<%= i %>"><%= items['item' + i].warehouseID %></td>
          <td id="warehouseName<%= i %>"><%= items['item' + i].warehouseName %></td>
          <td id="Period<%= i %>"><%= items['item' + i].startDate %> ~ <%= items['item' + i].endDate %></td>
          <td id="area<%= i %>"><%= items['item' + i].area %></td>
          <td id="price<%= i %>"><%= items['item' + i].price %></td>
          <td>
            <button class="btn btn-primary" style="margin: 0; padding: 8px 12px;">IoT Page</button>
          </td>
          <td>
            <button id="modal_btn" class="btn btn-primary" style="margin: 0; padding: 8px 12px;">INFO</button>
            <div class="black_bg"></div>
            <div class="modal_wrap">
              <div class="modal_close">
                <button type="button" class="btn btn-sm">Close</button>
              </div>
              <div>Modal 창 내용</div>
            </div>
          </td>
        </tr>
        <% } %>
    </table>
  </div>

  <script>
    window.onload = function () {
      function onClick() {
        document.querySelector('.modal_wrap').style.display = 'block';
        document.querySelector('.black_bg').style.display = 'block';
      }

      function offClick() {
        document.querySelector('.modal_wrap').style.display = 'none';
        document.querySelector('.black_bg').style.display = 'none';
      }
      document.getElementById('.modal_btn').addEventListener('click', onClick);
      document.querySelector('.modal_close').addEventListener('click', offClick);
    };
  </script>
</body>

</html>
