<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <%- include('../../head') %>
</head>

<body>
  <%- include('../../nav_Bar') %>
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
  </div>
  <div class="container">
    <h2 class="mt-5 mb-3">My Warehouse</h2>
    <table class="board-table table " id="myWH">
      <thead class="thead-dark">
      <tr>
        <th>Warehouse ID</th>
        <th>Warehouse Name</th>
        <th>IoT</th>
        <th>Warehouse Info</th>
      </tr>
      </thead>
      <tbody>
      <% for(var i = 0; i < Object.keys(wList).length; i++) { %>
        <tr class="table-striped" id='#row<%= i %>'>
          <td><%= wList['item' + i].warehouseID %></td>
          <td><%= wList['item' + i].warehouseName %></td>
          <% if (wList['item' + i].iotStat == "Y"){ %>
            <td style="padding:6px 0;">
              <form action="/iot" method="POST">
                <input id="wid" name="wid" type="hidden" value="<%= wList['item' + i].warehouseID %>">
                <button class="btn btn-primary" style="margin: 0; padding: 10px 15px;">IoT Page</button>
              </form>
            </td>
          <% } else if (wList['item' + i].iotStat == "W"){ %>
            <td style="padding-top: 20px;">Pending Approval</td>
          <% } else if (wList['item' + i].iotStat == "N"){ %>
            <td>
              <button class="btn btn-sm" onclick="reqClick(<%= i %>, <%= wList['item' + i].warehouseID %>)" style="margin: 0; padding: 10px 15px;" type="button">Request Service
              </button>
            </td>
          <% } %>
          <td style="padding:6px 0;">
            <form action="/Provider/WHinfo" method="GET">
              <button class="btn btn-sm" id="viewbtn<%= i %>" style="margin: 0; padding: 8px 12px;">INFO</button>
            </form>
          </td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
  <div class="container">
    <h2 class="mt-5 mb-3">Warehouse Enroll List</h2>
    <% for(var i = 0; i < Object.keys(enrollItems).length; i++) { %>
      <p id="whID0<%= i %>" style="display: none"><%= enrollItems['item' + i].warehouseID %></p>
      <p id="reqID0<%= i %>" style="display: none"><%= enrollItems['item' + i].reqID %></p>
      <p id="reqType0<%= i %>" style="display: none"><%= enrollItems['item' + i].reqType %></p>
      <p id="memberID0<%= i %>" style="display: none"><%= enrollItems['item' + i].providerID %></p>
    <% } %>
    <table class="board-table table ">
      <thead class="thead-dark">
      <tr>
        <th>Warehouse ID</th>
        <th>State</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% for(var i = 0; i < Object.keys(enrollItems).length; i++) { %>
        <% if(enrollItems['item' + i].reqType == "ReqEnrollPV"){ %>
          <tr class="table-warning">
            <td><%= enrollItems['item' + i].warehouseID %></td>
            <td>Pending Approval</td>
            <td style="float:right; padding:0 10px 0px 0px;">
              <button class="btn btn-sm" onclick="pvClick(0,<%= i %>, 0)" type="button">Cancel</button>
            </td>
          </tr>
        <% } %>
        <% if(enrollItems['item' + i].reqType == "ReqEnrollRejected"){ %>
          <tr class="table-danger">
            <td><%= enrollItems['item' + i].warehouseID %></td>
            <td>Rejected</td>
            <td style="float:right; padding:0px 10px 0px 0px;">
              <button class="btn btn-sm" onclick="pvClick(0, <%= i %>, 2)" type="button">Confirm</button>
            </td>
          </tr>
        <% } %>
      <% } %>
      </tbody>
    </table>
  </div>

  <div class="container">
    <h2 class="mt-5 mb-3">Warehouse Buy Request List</h2>
    <% for(var i = 0; i < Object.keys(requestItems).length; i++) { %>
      <p id="whID1<%= i %>" style="display: none"><%= requestItems['item' + i].warehouseID %></p>
      <p id="reqID1<%= i %>" style="display: none"><%= requestItems['item' + i].reqID %></p>
      <p id="reqType1<%= i %>" style="display: none"><%= requestItems['item' + i].reqType %></p>
      <p id="memberID1<%= i %>" style="display: none"><%= requestItems['item' + i].buyerID %></p>
      <p id="area1<%= i %>" style="display: none"><%= requestItems['item' + i].area %></p>
    <% } %>
    <table class="board-table table ">
      <thead class="thead-dark">
      <tr>
        <th>Warehouse ID</th>
        <th>State</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% for(var i = 0; i < Object.keys(requestItems).length; i++) { %>
        <% if(requestItems['item' + i].reqType == "ReqByAdmin"){ %>
          <tr class="table-warning">
            <td><%= requestItems['item' + i].warehouseID %></td>
            <td>Pending Approval</td>
            <td style="float:right; padding:0px 10px 0px 0px;">
              <button class="btn btn-sm" onclick="pvClick(1, <%= i %>, 1)" type="button">Approve</button>
              <button class="btn btn-sm" onclick="pvClick(1, <%= i %>, 0)" type="button">Cancel</button>
            </td>
          </tr>
        <% } %>
        <% if(requestItems['item' + i].reqType == "ReqPayByBuyer"){ %>
          <tr class="table-primary">
            <td><%= requestItems['item' + i].warehouseID %></td>
            <td>Waiting for Payment</td>
            <td style="float:right; padding:0px 10px 0px 0px;">
              <button class="btn btn-sm" onclick="pvClick(1, <%= i %>, 0)" type="button">Cancel</button>
            </td>
          </tr>
        <% } %>
        <% if(requestItems['item' + i].reqType == "Rejected"){ %>
          <tr class="table-danger">
            <td><%= requestItems['item' + i].warehouseID %></td>
            <td>Rejected</td>
            <td style="float:right; padding:0px 10px 0px 0px;">
              <button class="btn btn-sm" onclick="pvClick(1, <%= i %>, 2)" type="button">Confirm</button>
            </td>
          </tr>
        <% } %>
      <% } %>
      </tbody>
    </table>
  </div>
  <div class="overlay"></div>
</body>

<%- include('../../footer') %>

<script>
  function reqClick(i, WID) {
    $.ajax({
      url: '/Provider/MyWarehouse/IoT/Ans',
      dataType: 'json',
      type: 'POST',
      data: {
        warehouseID: parseInt(WID)
      },
      success: function (data) {
        if (data == true) {
          Swal.fire({
            title: 'Submitted',
            icon: 'success'
          }).then(() => location.href = "/Provider/MyWarehouse");
        } else {
          Swal.fire({
            title: 'Error',
            text: 'An error has occurred.',
            icon: 'error'
          }).then(() => location.href = "/Provider/MyWarehouse");
        }
      }
    });
  }

  function pvClick(where, i, flag) {
    var URL = '/Provider/MyWarehouse/Enroll/Ans';
    var Area = null;
    if (where) {
      URL = '/Provider/MyWarehouse/Buy/Ans';
      Area = document.getElementById('area' + where + i).innerText
    }
    switch (flag) {
      case 0: // Cancel
        $.ajax({
          url: URL,
          dataType: 'json',
          type: 'POST',
          data: {
            answer: "Cancel",
            reqID: document.getElementById('reqID' + where + i).innerText,
            whID: document.getElementById('whID' + where + i).innerText,
            reqType: document.getElementById('reqType' + where + i).innerText,
            memberID: document.getElementById('memberID' + where + i).innerText,
            area: Area
            //other things will be here
          },
          success: function (data) {
            if (data == true) {
              Swal.fire({
                title: 'Canceled',
                icon: 'warning'
              }).then(() => location.href = "/Provider/MyWarehouse");
            } else {
              Swal.fire({
                title: 'Error',
                text: 'An error has occurred.',
                icon: 'error'
              }).then(() => location.href = "/Provider/MyWarehouse");
            }
          }
        });
        break;
      case 1: // Approve
        $.ajax({
          url: URL,
          dataType: 'json',
          type: 'POST',
          data: {
            answer: "Approve",
            reqID: document.getElementById('reqID' + where + i).innerText,
            whID: document.getElementById('whID' + where + i).innerText,
            reqType: document.getElementById('reqType' + where + i).innerText,
            memberID: document.getElementById('memberID' + where + i).innerText,
            area: Area
            //other things will be here
          },
          success: function (data) {
            if (data == true) {
              Swal.fire({
                title: 'Accepted',
                icon: 'success'
              }).then(() => location.href = "/Provider/MyWarehouse");
            } else {
              Swal.fire({
                title: 'Error',
                text: 'An error has occurred.',
                icon: 'error'
              }).then(() => location.href = "/Provider/MyWarehouse");
            }
          }
        });
        break;
      case 2: // Confirm
        $.ajax({
          url: URL,
          dataType: 'json',
          type: 'POST',
          data: {
            answer: "Confirm",
            reqID: document.getElementById('reqID' + where + i).innerText,
            whID: document.getElementById('whID' + where + i).innerText,
            reqType: document.getElementById('reqType' + where + i).innerText,
            memberID: document.getElementById('memberID' + where + i).innerText,
            area: Area
            //other things will be here
          },
          success: function (data) {
            if (data == true) {
              Swal.fire({
                title: 'Confirmed',
                icon: 'success'
              }).then(() => location.href = "/Provider/MyWarehouse");
            } else {
              Swal.fire({
                title: 'Error',
                text: 'An error has occurred.',
                icon: 'error'
              }).then(() => location.href = "/Provider/MyWarehouse");
            }
          }
        });
        break;
    }
  }
</script>
</html>
