<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <%- include('../head') %>
  <script src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
</head>

<body>
  <div class="wrap">
    <header>
    <%- include('../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
      </div>
    </header>
    <section>
      <div class="container">
        <h2 class="mt-5 mb-3">Warehouse Info
          <button class="btn btn-primary" style="margin: 0; padding: 8px 12px;" onclick="btnClick('pv', 'iot')">IoT</button>
          <% if (session.type === 'provider') { %>
            <button class="btn" style="margin: 0; padding: 8px 12px;" onclick="btnClick('pv', 'edit')">EDIT</button>
          <% } %>
        </h2>
      <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="thead-dark-vertical">Warehouse ID</th>
          <td><%= WHitems.warehouseID %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Warehouse Name</th>
          <td><%= WHitems.warehouseName %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Zipcode</th>
          <td><%= WHitems.zipcode %></td>
        </tr>
        <tr>
          <th rowspan="2" class="thead-dark-vertical">Address</th>
          <td><%= WHitems.address %></td>
        </tr>
        <tr>
          <td><%= WHitems.addressDetail %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Contact Email</th>
          <td><%= WHitems.warehouseEmail %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Contact Tel</th>
          <td><%= WHitems.warehouseTEL %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Enrolled Date</th>
          <td><%= WHitems.enrolledDate %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Land Area</th>
          <td><%= WHitems.landArea %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Floor Area</th>
          <td><%= WHitems.floorArea %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Usable Area</th>
          <td><%= WHitems.useableArea %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Price Per Area</th>
          <td><%= WHitems.perprice %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Info Comment</th>
          <td><%= WHitems.perprice %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">ETC</th>
          <td><%= WHitems.etcComment %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% if (session.type === 'admin') { %>
  <div class="container">
    <h2 class="mt-5 mb-3">Provider Info</h2>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="thead-dark-vertical">Provider ID</th>
          <td><%= PVitems.memberID %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Provider Name</th>
          <td><%= PVitems.name %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">National</th>
          <td><%= PVitems.national %></td>
        </tr>
        <tr>
          <th rowspan="2" class="thead-dark-vertical">Address</th>
          <td><%= PVitems.zipcode %></td>
        </tr>
        <tr>
          <td><%= PVitems.address %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Email</th>
          <td><%= PVitems.email %></td>
        </tr>
        <tr>
          <th class="thead-dark-vertical">Contact Number</th>
          <td><%= PVitems.contactNumber %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% } %>
  <div class="container">
    <h2 class="mt-5 mb-3">Warehouse Usage</h2>
    <table id="t1" class="board-table table">
      <thead class="thead-dark">
        <tr>
          <th>Req ID</th>
          <th>Buyer ID</th>
          <th>Rental Period</th>
          <th>Area</th>
          <th>Price</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < Object.keys(curItems).length; i++) { %>
        <tr class="table-success">
          <td id="reqID<%= i %>"><%= curItems['item' + i].reqID %></td>
          <td id="buyerID<%= i %>"><%= curItems['item' + i].buyerID %></td>
          <td id="Period<%= i %>"><%= curItems['item' + i].startDate %> ~ <%= curItems['item' + i].endDate %></td>
          <td id="area<%= i %>"><%= curItems['item' + i].area %></td>
          <td id="totalPrice<%= i %>"><%= curItems['item' + i].totalPrice %></td>
          <td style="padding:6px 0;">
            <button id="modal_btn" class="btn btn-primary" style="margin: 0; padding: 8px 12px;">INFO</button>
            <div class="black_bg"></div>
            <div class="modal_wrap">
              <div class="modal_body">
                <h2 class="mt-5 mb-3">Buyer ID Info</h2>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th class="thead-dark-vertical">Buyer ID</th>
                      <td><%= curItems['item' + i].buyerID %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">Buyer Name</th>
                      <td><%= curItems['item' + i].name %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">National</th>
                      <td><%= curItems['item' + i].national %></td>
                    </tr>
                    <tr>
                      <th rowspan="2" class="thead-dark-vertical">Address</th>
                      <td><%= curItems['item' + i].zipcode %></td>
                    </tr>
                    <tr>
                      <td><%= curItems['item' + i].address %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">Email</th>
                      <td><%= curItems['item' + i].email %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">Contact Number</th>
                      <td><%= curItems['item' + i].contactNumber %></td>
                    </tr>
                  </tbody>
                </table>
                <div class="modal_close">
                  <button type="button" class="btn btn-sm">Close</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <% } %>
        <% for(var i = 0; i < Object.keys(nextItems).length; i++) { %>
        <tr class="table-warning">
          <td id="reqID<%= i %>"><%= nextItems['item' + i].reqID %></td>
          <td id="buyerID<%= i %>"><%= curItems['item' + i].buyerID %></td>
          <td id="Period<%= i %>"><%= nextItems['item' + i].startDate %> ~ <%= nextItems['item' + i].endDate %></td>
          <td id="area<%= i %>"><%= nextItems['item' + i].area %></td>
          <td id="totalPrice<%= i %>"><%= nextItems['item' + i].totalPrice %></td>
          <td style="padding:6px 0;">
            <button id="modal_btn" class="btn btn-primary" style="margin: 0; padding: 8px 12px;">INFO</button>
            <div class="black_bg"></div>
            <div class="modal_wrap">
              <div class="modal_body">
                <h2 class="mt-5 mb-3">Buyer ID Info</h2>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th class="thead-dark-vertical">Buyer ID</th>
                      <td><%= nextItems['item' + i].buyerID %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">Buyer Name</th>
                      <td><%= nextItems['item' + i].name %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">National</th>
                      <td><%= nextItems['item' + i].national %></td>
                    </tr>
                    <tr>
                      <th rowspan="2" class="thead-dark-vertical">Address</th>
                      <td><%= nextItems['item' + i].zipcode %></td>
                    </tr>
                    <tr>
                      <td><%= nextItems['item' + i].address %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">Email</th>
                      <td><%= nextItems['item' + i].email %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">Contact Number</th>
                      <td><%= nextItems['item' + i].contactNumber %></td>
                    </tr>
                  </tbody>
                </table>
                <div class="modal_close">
                  <button type="button" class="btn btn-sm">Close</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <% } %>
    </table>
  </div>
  <div class="container">
    <h2 class="mt-5 mb-3">Previous Warehouse Usage
      <button id="btnView" class="btn btn-primary"
        style=" font-size:14px; margin-left: 10px; padding: 8px 12px;">View</button>
    </h2>
    <table id="t2" class="board-table table">
      <thead class="thead-dark">
        <tr>
          <th>Req ID</th>
          <th>Rental Period</th>
          <th>Area</th>
          <th>Price</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < Object.keys(preItems).length; i++) { %>
        <tr class="table-danger">
          <td id="reqID<%= i %>"><%= preItems['item' + i].reqID %></td>
          <td id="buyerID<%= i %>"><%= curItems['item' + i].buyerID %></td>
          <td id="Period<%= i %>"><%= preItems['item' + i].startDate %> ~ <%= preItems['item' + i].endDate %></td>
          <td id="area<%= i %>"><%= preItems['item' + i].area %></td>
          <td id="totalPrice<%= i %>"><%= preItems['item' + i].totalPrice %></td>
          <td style="padding:6px 0;">
            <button id="modal_btn" class="btn btn-primary" style="margin: 0; padding: 8px 12px;">INFO</button>
            <div class="black_bg"></div>
            <div class="modal_wrap">
              <div class="modal_body">
                <h2 class="mt-5 mb-3">Buyer ID Info</h2>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th class="thead-dark-vertical">Buyer ID</th>
                      <td><%= preItems['item' + i].buyerID %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">Buyer Name</th>
                      <td><%= preItems['item' + i].name %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">National</th>
                      <td><%= preItems['item' + i].national %></td>
                    </tr>
                    <tr>
                      <th rowspan="2" class="thead-dark-vertical">Address</th>
                      <td><%= preItems['item' + i].zipcode %></td>
                    </tr>
                    <tr>
                      <td><%= preItems['item' + i].address %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">Email</th>
                      <td><%= preItems['item' + i].email %></td>
                    </tr>
                    <tr>
                      <th class="thead-dark-vertical">Contact Number</th>
                      <td><%= preItems['item' + i].contactNumber %></td>
                    </tr>
                  </tbody>
                </table>
                <div class="modal_close">
                  <button type="button" class="btn btn-sm">Close</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <% } %>
        </table>
      </div>
    </section>
    <footer>
      <%- include('../footer') %>
    </footer>
  </div>
</body>
<script>
  window.onload = function () {
    function onClick() {
      document.querySelector('.modal_wrap').style.display = 'block';
    }

    function offClick() {
      document.querySelector('.modal_wrap').style.display = 'none';
    }

    document.querySelector('#modal_btn').addEventListener('click', onClick);
    document.querySelector('.modal_close').addEventListener('click', offClick);
  };

  function btnClick(type, page) {
    var wid = <%= req.body.warehouseID %>;
    if (type === 'pv') {
      if (page === 'iot') $.redirect('/iot', {'wid': wid});
      else if (page === 'edit') $.redirect('WHInfo/Edit', {'wid': wid});
    }
  }
</script>
</html>
