<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../../head') %>
</head>

<body>
  <%- include('../../nav_Bar') %>
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
  </div>

  <div class="container mb-3">
    <table id="t1" class="board-table table">
      <p style="font-size:30px">INFO</p>
      <table class="table table-bordered">
        <label class="BYInfoLabel">Buyer Info</label>
        <tbody>
          <% for(var i = 0; i < Object.keys(BYitems).length; i++) { %>
          <tr>
            <th class="thead-dark-vertical">Buyer ID</th>
            <td><%= BYitems['item' + i].buyerID %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Buyer Name</th>
            <td><%= BYitems['item' + i].name %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">National</th>
            <td><%= BYitems['item' + i].national %></td>
          </tr>          
          <tr>
            <th rowspan="2" class="thead-dark-vertical">Address</th>
            <td><%= BYitems['item' + i].zipcode %></td>
          </tr>
          <tr>
            <td><%= BYitems['item' + i].address %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Email</th>
            <td><%= BYitems['item' + i].email %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Contact Number</th>
            <td><%= BYitems['item' + i].contactNumber %></td>
          </tr> 
          <% } %>
        </tbody>
      </table>
      <table class="table table-bordered">
        <label class="PVInfoLabel">Provider Info</label>
        <tbody>
          <% for(var i = 0; i < Object.keys(PVitems).length; i++) { %>
          <tr>
            <th class="thead-dark-vertical">Provider ID</th>
            <td><%= PVitems['item' + i].providerID %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Provider Name</th>
            <td><%= PVitems['item' + i].name %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">National</th>
            <td><%= PVitems['item' + i].national %></td>
          </tr>          
          <tr>
            <th rowspan="2" class="thead-dark-vertical">Address</th>
            <td><%= PVitems['item' + i].zipcode %></td>
          </tr>
          <tr>
            <td><%= PVitems['item' + i].address %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Email</th>
            <td><%= PVitems['item' + i].email %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Contact Number</th>
            <td><%= PVitems['item' + i].contactNumber %></td>
          </tr>          
          <% } %>
        </tbody>
      </table>
      <table class="table table-bordered">
        <label class="WHInfoLabel">Warehouse Info</label>
        <tbody>
          <% for(var i = 0; i < Object.keys(WHitems).length; i++) { %>
          <tr>
            <th class="thead-dark-vertical">Warehouse ID</th>
            <td><%= WHitems['item' + i].warehouseID %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Warehouse Name</th>
            <td><%= WHitems['item' + i].warehouseName %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Zipcode</th>
            <td><%= WHitems['item' + i].zipcode %></td>
          </tr>
          <tr>
            <th rowspan="2" class="thead-dark-vertical">Address</th>
            <td><%= WHitems['item' + i].address %></td>
          </tr>
          <tr>
            <td><%= WHitems['item' + i].addressDetail %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Contact Email</th>
            <td><%= WHitems['item' + i].warehouseEmail %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Contact Tel</th>
            <td><%= WHitems['item' + i].warehouseTEL %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Enrolled Date</th>
            <td><%= WHitems['item' + i].enrolledDate %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Land Area</th>
            <td><%= WHitems['item' + i].landArea %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Floor Area</th>
            <td><%= WHitems['item' + i].floorArea %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Usable Area</th>
            <td><%= WHitems['item' + i].landArea %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Price Per Area</th>
            <td><%= WHitems['item' + i].perprice %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">Info Comment</th>
            <td><%= WHitems['item' + i].perprice %></td>
          </tr>
          <tr>
            <th class="thead-dark-vertical">ETC</th>
            <td><%= WHitems['item' + i].etcComment %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
  </div>
</body>
<%- include('../../footer') %>
</html>