<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../../head') %>
</head>

<body>
  <%- include('../../nav_Bar') %>
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
  </div>
  <div>
    <div class="container">
      <div class="jumbotron" style="text-align : center">
        <h1>Contract Info List</h1>
      </div>
      <div class="container mb-3">

        <% for(var i = 0; i < Object.keys(items).length; i++) { %>
          <p id="whID<%= i %>" style="display: none"><%= items['item' + i].warehouseID %></p>
          <p id="buyerID<%= i %>" style="display: none"><%= items['item' + i].buyerID %></p>
          <p id="contractID<%= i %>" style="display: none"><%= items['item' + i].contractID %></p>
          <p id="area<%= i %>" style="display: none"><%= items['item' + i].area %></p>
          <p id="amounts<%= i %>" style="display: none"><%= items['item' + i].amounts %></p>
          <p id="startDate<%= i %>" style="display: none"><%= items['item' + i].startDate %></p>
          <p id="endDate<%= i %>" style="display: none"><%= items['item' + i].endDate %></p>
          <p id="national<%= i %>" style="display: none"><%= items['item' + i].national %></p>
          <p id="name<%= i %>" style="display: none"><%= items['item' + i].name %></p>
          <p id="email<%= i %>" style="display: none"><%= items['item' + i].email %></p>
        <% } %>
        <div class="table-responsive">
          <table class="table table-striped ">
            <thead class="thead-dark">
            <tr class="d-flex">
              <th class="col-1">Warehouse ID</th>
              <th class="col-1">Contract Num</th>
              <th class="col-1">Rental Fee($)</th>
              <th class="col-3">Rental Period</th>
              <th class="col-1">Rental Area(m^2)</th>
              <th class="col-1">Buyer ID</th>
              <th class="col-1">Name</th>
              <th class="col-2">Email</th>
              <th class="col-3">Address</th>
              <th class="col-1">Nation</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < Object.keys(items).length; i++) { %>
              <tr class="d-flex">
                <td class="col-1"><%= items['item' + i].warehouseID %></td>
                <td class="col-1"><%= items['item' + i].contractID %></td>
                <td class="col-1"><%= items['item' + i].amounts %></td>
                <td class="col-3"><%= items['item' + i].startDate %> ~ <%= items['item' + i].endDate %></td>
                <td class="col-1"><%= items['item' + i].area %></td>
                <td class="col-1"><%= items['item' + i].buyerID %></td>
                <td class="col-1"><%= items['item' + i].name %></td>
                <td class="col-2"><%= items['item' + i].email %></td>
                <td class="col-3"><%= items['item' + i].address %></td>
                <td class="col-1"><%= items['item' + i].national %></td>
                <td></td>
              </tr>
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</body>
</html>
