<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../../head') %>
</head>

<body>
  <%- include('../../nav_Bar') %>
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
  </div>
  <div>
    <div class="container">
      <div class="jumbotron" style="text-align : center">
        <h1>IoT Request List</h1>
      </div>
      <div class="container mb-3">
        <h2 class="mb-3">Submit Lists</h2>
        <div class="table-responsive">
          <table class="board-table table ">
            <thead class="thead-dark">
            <tr class="d-flex">
              <th class="col-1">Warehouse ID</th>
              <th class="col-1">State</th>
              <th class="col-2">User ID</th>
              <th class="col-2">Warehouse Name</th>
              <th class="col-3">Warehouse Address</th>
              <th class="col-1">Nation</th>
              <th class="col-2"></th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < Object.keys(items).length; i++) { %>
              <tr class="table-warning d-flex">
                <td class="col-1"><%= items['item' + i].warehouseID %></td>
                <td class="col-1">Waiting for Approval</td>
                <td class="col-2"><%= items['item' + i].memberID %></td>
                <td class="col-2"><%= items['item' + i].name %></td>
                <td class="col-3"><%= items['item' + i].address %></td>
                <td class="col-1"><%= items['item' + i].national %></td>
                <td class="col-2" style="float:right; padding:0px 10px 0px 0px;">
                  <form action="iotTest" method="POST">
                    <input type="hidden" name="wid" value="<%= items['item' + i].warehouseID %>">
                    <button class="btn btn-sm">View</button>
                  </form>
                </td>
              </tr>
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</body>
</html>
