<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../../head') %>
  <script src="/JS/ad_RequestBuy.js"></script>
</head>

<body>
  <div class="wrap">
    <header>
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
      </div>
    </header>
    <section>
      <div class="container">
        <h2 class="mt-5 mb-3">Warehouse Buy Request list</h2>
        <% for(var i = 0; i < Object.keys(items).length; i++) { %>
        <p id="whID<%= i %>" style="display: none"><%= items['item' + i].warehouseID %></p>
        <p id="reqID<%= i %>" style="display: none"><%= items['item' + i].reqID %></p>
        <p id="reqType<%= i %>" style="display: none"><%= items['item' + i].reqType %></p>
        <p id="buyerID<%= i %>" style="display: none"><%= items['item' + i].buyerID %></p>
        <p id="area<%= i %>" style="display: none"><%= items['item' + i].area %></p>
        <p id="amounts<%= i %>" style="display: none"><%= items['item' + i].amounts %></p>
        <p id="startDate<%= i %>" style="display: none"><%= items['item' + i].startDate %></p>
        <p id="endDate<%= i %>" style="display: none"><%= items['item' + i].endDate %></p>
        <% } %>
        <table class="board-table table ">
          <thead class="thead-dark">
            <tr>
              <th>Warehouse ID</th>
              <th>State</th>
              <th>Rental Fee($)</th>
              <th>Rental Period</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < Object.keys(items).length; i++) { %>
            <% if(items['item' + i].reqType == "ReqByBuyer"){ %>
            <tr class="table-warning">
              <td><%= items['item' + i].warehouseID %></td>
              <td>Pending Approval</td>
              <td><%= items['item' + i].amounts %></td>
              <td><%= items['item' + i].startDate %> ~ <%= items['item' + i].endDate %></td>
              <td id="td-btn"><button type="button" class="btn btn-td btn-success" onclick="adClick(<%= i %>, 1)">Approve</button></td>
              <td id="td-btn"><button type="button" class="btn btn-td btn-grey" onclick="adClick(<%= i %>, 0)">Reject</button></td>
            </tr>
            <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </section>
    <footer>
      <%- include('../../footer') %>
    </footer>
  </div>
</body>

</html>
