<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../../head') %>
</head>

<body>
  <div class="wrap">
    <header>
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
      </div>
    </header>
    <section>
      <div class="container">
        <h2 class="mt-5 mb-3">Usage History</h2>
        <div class="table-responsive">
          <table class="table table-striped ">
            <thead class="thead-dark">
              <tr class="d-flex">
                <th class="col-1">Req ID</th>
                <th class="col-1">WH ID</th>
                <th class="col-2">Buyer ID</th>
                <th class="col-3">Rent Period</th>
                <th class="col-1">Area</th>
                <th class="col-1">Price</th>
                <th class="col-2">IoT</th>
                <th class="col-1">Info</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < Object.keys(items).length; i++) { %>
              <tr class="d-flex">
                <td id="reqID<%= i %>" class="col-1"><%= items['item' + i].reqID %></td>
                <td id="whID<%= i %>" class="col-1"><%= items['item' + i].warehouseID %></td>
                <td id="buyerID<%= i %>" class="col-2"><%= items['item' + i].buyerID %></td>
                <td id="Period<%= i %>" class="col-3"><%= items['item' + i].startDate %> ~
                  <%= items['item' + i].endDate %></td>
                <td id="area<%= i %>" class="col-1"><%= items['item' + i].area %></td>
                <td id="price<%= i %>" class="col-1"><%= items['item' + i].price %></td>
                <% if (items['item' + i].iotStat == "Y"){ %>
                <td id="td-btn" class="col-2">
                  <form action="/IoT" method="POST">
                    <input id="wid" name="wid" type="hidden" value="<%= items['item' + i].warehouseID %>">
                    <button class="btn btn-td btn-main">IoT Page</button>
                  </form>
                </td>
                <% } else if (items['item' + i].iotStat == "W"){ %>
                <td id="td-btn" class="col-2">Pending Approval</td>
                <% } else if (items['item' + i].iotStat == "N"){ %>
                <td id="td-btn" class="col-2">Not Currently Used</td>
                <% } %>
                <td id="td-btn" class="col-1">
                  <form action="/Admin/UsageHistory/INFO" method="POST">
                    <input id="reqID" name="reqID" type="hidden" value="<%= items['item' + i].reqID %>">
                    <button class="btn btn-td btn-info">INFO</button>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <footer>
      <%- include('../../footer') %>
    </footer>
  </div>
</body>

</html>
