<!doctype html>
<html lang="ko">

<head>
  <%- include('../head') %>
  <meta charset="utf-8">
  <title>물품 입고 확인 및 등록</title>
  <link rel="stylesheet" href="/CSS/iot.css"/>
</head>

<body>
  <div id="content">
    <%- include('nav') %>

    <div class="container">
      <button class="btn btn-primary two_btn_r" onclick="location.href='registerItem'">Register Item</button>
      <!-- 물품 등록 연결되면 삭제 -->
      <form action="randomTest" method="GET">
        <button class="btn btn-primary two_btn_r">Random Register</button>
      </form>
    </div>

    <div class="container">
      <div class="container mb-3">
        <h2 class="mb-3">Item Register Confirmation</h2>
      </div>
      <div class="table-responsive">
        <table class="board-table table">
          <thead class="thead-dark">
          <tr>
            <th>RFID</th>
            <th>Product Name</th>
            <th>Product Quantity</th>
            <th>Shipping State</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <% for(var i = 0; i < Object.keys(itemlist).length; i++) { %>
            <tr>
              <td id="rfid"><%= itemlist['item' + i].rfid %></td>
              <td id="name"><%= itemlist['item' + i].name %></td>
              <td id="num"><%= itemlist['item' + i].num %></td>
              <td id="received"><%= itemlist['item' + i].received %></td>
              <td>
                <form action="/iot" method="POST">
                  <input type="hidden" id="itemImg" name="itemImg" value="<%= itemlist['item' + i].picture %>">
                  <button class="checkBtn">Show</button>
                </form>
              </td>
              <td>
                <form action="/iot/editItem" method="POST">
                  <input type="hidden" id="itemEdit" name="itemEdit" value="<%= itemlist['item' + i].rfid %>">
                  <button class="checkBtn">Edit</button>
                </form>
              </td>
              <td>
                <form action="/iot/deleteItem" method="POST">
                  <input type="hidden" id="itemDel" name="itemDel" value="<%= itemlist['item' + i].rfid %>">
                  <button class="checkBtn">Delete</button>
                </form>
              </td>
              <!-- <td><button class="btn btn-primary" onclick="editItem(<%= i %>, <%= itemlist['item' + i].rfid %>)">수정</button></td> -->
              <!-- <td><button class="btn btn-primary" onclick="deleteItem(<%= i %>, <%= itemlist['item' + i].rfid %>)">삭제</button></td> -->
            </tr>
          <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
<script>
  function deleteItem(i, WID) {
    $.ajax({
      url: '/iot/deleteItem',
      dataType: 'json',
      type: 'POST',
      data: {
        warehouseID: parseInt(WID)
      },
      success: function (data) {
        if (data == true) {
          Swal.fire({
            title: 'Submitted',
            icon: 'success'
          }).then(() => location.href = "/Iot/warehousing");
        } else {
          Swal.fire({
            title: 'Error',
            text: 'An error has occurred.',
            icon: 'error'
          }).then(() => location.href = "/Iot/warehousing");
        }
      }
    });
  }
</script>
</html>
